html{
	background-color: #F0F0F0;
}

h1{
	color: #B3465D;
    border-bottom: thin solid #ccc;
    padding-bottom: 1em;
}

h2{
	color: #B3465D;
}

img{
	width: 100%;
}

.main{
	width: 75%;
	margin: 10%;
	padding: 2%;
	background-color: #FFF;
	border-radius: 10px;
	box-shadow: .5px 1px 1px 1.5px #ccc;
}

figcaption{
	border-top: thin solid #ccc;
	
}

dl{
	/* 
	Overflow hidden is a clearfix
	It reminds the <dl> to wrap around its floated children
	*/
	overflow:hidden;
}

dt{
	float: left;
	clear: left;
	width: 8em;
}

dd{
	float: left;
	margin: 0;
	padding: 0;
}