html{
	background-color: #EDEDED;
	font-family: "Helvetica", Arial, Sans-Serif;
}

h1{
	color: #B3465D;
    border-bottom: thin solid #ccc;
    padding-bottom: 1em;
}

h2{
	padding-top: 1rem;
	color: #B3465D;
}

img{
	width: 100%;
}

.main{
	width: 75%;
	margin: 10%;
	padding: 2%;
	background-color: #FFF;
	border-radius: 10px;
	box-shadow: .5px 1px 1px 1.5px #ccc;
}

figcaption{
	font-size: 15px;
	color: #949494;
	background-color: #FAFAFA;
	border: thin solid #ddd;
	margin: -3%;
	padding: 1rem;
}

dl{
	/* 
	Overflow hidden is a clearfix
	It reminds the <dl> to wrap around its floated children
	*/
	overflow:hidden;
}

blockquote{
	margin: -3%;
	padding: 1rem;
	background-color: #FAFAFA;
	border: thin solid #ddd;
	overflow: hidden;
}

footer{
	float: right;
	padding-bottom: 1rem;
}

.nutrition{
	background-color: #FAFAFA;
	border: thin solid #ddd;
	margin: -3%;
	padding-left: 1rem;
}

dt{
	float: left;
	clear: left;
	width: 8em;
}

dd{
	float: left;
	margin: 0;
	padding: 0;
}

ul{
	padding-top: 1rem;
	margin-left: -10%;
	overflow: hidden;
}

.hidden{
	display: none;
}

ul li{
	background-color: #EBCED7;
	color: #B3465D;
	border: thin solid #B3465D;
	border-radius: 20px;
	list-style: none; 
	float: left;
	padding: 2%;
	margin-right: 1%;
	margin-bottom: 1%;
}

a:link{
	color: #B3465D;
}

a:visited{
	color: #B3465D;
}

a:active{
	color: #B3465D;
}
